<ul>
  <li><a href="http://blog.teamon.eu">Blog</a></li>
  <li><a href="http://blog.teamon.eu/projekty/">Projekty</a></li>
  <li><a href="/klp">KLP Printer (+ ostatnidzwonek.pl)</a></li>
  <li><a href="http://gist.github.com/125752">snippets</a></li>
</ul>
