<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="http://teamon.eu/files/favicon.png" type="image/png" />
    <title>teamon.eu</title>
    <style type="text/css">
    /* @group reset */
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, font, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td {
    	margin: 0;
    	padding: 0;
    	border: 0;
    	outline: 0;
    	font-size: 100%;
    	vertical-align: baseline;
    	background: transparent;
    }
    table {
      border-collapse: collapse;
    }
    td, th {border: 1px solid #ddd; padding: 3px 7px}
    th{ background-color:#eee}
    body {
      background: #454545;
      font-size: 12pt;
      font-family: "Lucida Grande", "Trebuchet MS",Trebuchet,Tahoma,sans-serif;
      color: #4E4E4E;
      padding-top: 50px;
    }

    #main {
      margin: auto;
      width:  700px;
    }

    #entry {
      background: #fff;
      padding: 40px 50px 40px 50px;
      padding-bottom: 20px;
    }
    h2 {
      margin-bottom: 20px;
      height: 30px;color: #E24628;
      font-size: 30px;
      font-weight: normal;
    }
    input.text {
      border: 1px solid #aaa;
      height: 20px;
      font-size: 20px;
      padding: 3px;
      width: 500px;
    }
    p {text-align:center; padding-top: 10px}
    a {color: #E24628}
    #foot {font-size: 10pt;}
    ul {padding-left: 20px;}
    </style>
  </head>

  <body>
    <div id="main">
      <div id="entry">
        <%= catch_content :for_layout %>
        <p id="foot">
          &copy; <a href="http://blog.teamon.eu">teamon</a> 2008-<%= Time.now.year %>
        </p>
      </div>
    </div>
  </body>
</html>